
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}

.textbox input[type=text], .textbox input[type="password"] {
    width: 50%; /* 원하는 너비 설정 */
    height: auto;  /* 높이값 초기화 */
    line-height: normal; /* line-height 초기화 */
     padding: .5em .5em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
    font-family: inherit; /* 폰트 상속 */
    border: 1px solid #999;
    border-radius: 0; /* iSO 둥근모서리 제거 */
    outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;

}

.TB {
    width: 100%; /* 원하는 너비 설정 */
   /* height: 50px; !* 높이값 초기화 *!*/
    line-height: normal; /* line-height 초기화 */
   /* padding: .5em .5em; !* 원하는 여백 설정, 상하단 여백으로 높이를 조절 *!*/
    font-family: inherit; /* 폰트 상속 */
    border: 1px solid #999;
    border-radius: 0; /* iSO 둥근모서리 제거 */
    outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}

table.type09, table.type10 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}


table.type09 thead th, table.type10 thead th {
    colspan:2;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;

}

table.type09 td, table.type10 td {
    width: 350px;

    padding: 10px;
    vertical-align: top;

}

table.type09.tr td{
    width: 50%
}



table.type10 tr{
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;

}

table.type11 {
    width:100%;
}

.non-style, #non-style1, #non-style{
    colspan:2;
    border-bottom-style: hidden;
}

